@mixin toggle {
	nav {
		position: fixed;
		right: 0;
		bottom: 0;
		top: 0;
		left: 50px;
		display: block;
		z-index: 1;
		-webkit-user-select: none;
		margin: -100px 0 0 -50px;
		padding: 125px 50px 50px;
		background: $color_naranja;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0 0;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		ul {
			position: fixed !important;
    top: 200px !important;
			li {
				display: list-item !important;
				height: inherit !important;
				margin-top: 40px;
				.not-active {
					color: white;
				}
				.not-active:hover {
					color: $color_rosado;
				}
				.active {
					color: $color_gris_texto;
					span{
						color: #cccccc;
					}
				}
			}
		}
	}
	#nav.open {
		transform: scale(1, 1);
		opacity: 1;
	}
	.hamburger {
		$line: 4px;
		$height: $line*5;
		$width: $line*10;
		position: fixed;
		top: 25px;
		left: 50px;
		z-index: 2;
		.wrapper {
			width: $width;
			height: $height;
			position: relative;
			span {
				display: block;
				position: absolute;
				height: $line;
				width: 100%;
				background: $color_naranja;
				border-radius: 9px;
				opacity: 1;
				left: 0;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: 0.25s ease-in-out;
				-moz-transition: 0.25s ease-in-out;
				-o-transition: 0.25s ease-in-out;
				transition: 0.25s ease-in-out;
			}
			span:nth-child(1) {
				top: 0;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			span:nth-child(2) {
				top: ($height / 2) - ($line/2);
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			span:nth-child(3) {
				top: $height - $line;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
		}
		#toogleMenu:hover {
			cursor: pointer;
		}
		#toogleMenu.open {
			span{
				background: white;
			}
			span:nth-child(1) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				top: -$line;
				left: 1px;
			}
			span:nth-child(2) {
				width: 0;
				opacity: 0;
			}
			span:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				top: $height + $line;//24
				left: 1px;
			}
		}
	}
}
#top-menu {
	text-transform: uppercase;
	height: 80px;
	@include gridle(12);
	@include gridle_state( mobile ) {
		 @include toggle;
	}
	nav {
		@include gridle_float ( right );
		ul {
			font-family: bebas;
			@include gridle_state(mobile) {
				position: inherit;
				top: inherit;
				transform: inherit;
			}
			float: right;
			li {
				padding: 0 10px 0 0;
				font-size: 16px;
				height: 80px;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
