// setting up the grid
@include gridle_setup( (
    context : 12,
    gutter-width : 20px,
    direction : ltr
) );

// available options
// - min-width
// - max-width
// - query
// - gutter-width
// - gutter-height
// - gutter-top
// - gutter-right
// - gutter-bottom
// - gutter-left
// - classes : if need to generate classes
// Extra small devices Phones (<768px)	Small devices Tablets (≥768px)	Medium devices Desktops (≥992px)	Large devices Desktops (≥1200px)
@include gridle_register_state( mobile , (
    max-width : 768px,
    gutter-right: 0,
    gutter-left: 0
) );
@include gridle_register_state( tablet, (
    min-width : 769px,
    max-width : 992px,
    gutter-right: 0,
    gutter-left: 0
) );

@include gridle_register_state( desktop, (
    min-width : 993px,
    max-width : 1200px,
    gutter-right: 0,
    gutter-left: 0
) );

@include gridle_register_state( large, (
    min-width : 1201px
) );
