// bower:scss
@import "bower_components/gridle/sass/gridle/_gridle.scss"; // endbower
@import 'settings';
@import 'reset';
@import 'fonts'; // init the grid here!
@include gridle_init();
$color_gris_texto: #414141;
$color_gris: #dbdbdb;
$color_naranja: #e8663c;
$color_rosado: #F2AF9C;
$color_hover_link: #42b5cc;
$borderRadious: 2px;
@import 'menu';
body {
	font-family: helveticaNeue;
}
p::selection {
	background: $color_rosado;
}
p::-moz-selection {
	background: $color_rosado;
}
img {
	max-width: 100%;
	display: block;
	height: auto;
}
ul > li {
	display: inline;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: $color_hover_link;
}
iframe {
	width: 100%;
	height: 400px;
}
.margin-bottom-57 {
	margin-bottom: 57px;
}
.container {
	@include gridle_container();
	@include gridle_state( large ) {
		padding: 0 160px;
	}
}
.logo {
	color: #e8603c;
	height: 80px;
	line-height: 80px;
	white-space: nowrap;
	padding: 0;
	font-size: 36px;
	font-family: bebas;
	@include gridle_grid( 3 );
	@include gridle_state( mobile ) {
		 @include gridle_grid( 4 );
		@include gridle( grid-centered );
		text-align: center;
	}
	span {
		color: #f3af9d;
	}
}
.top-bar {
	position: relative;
}
.barra {
	width: 160px !important;
	position: absolute;
	top: 0;
	background-color: $color_rosado;
	@include gridle_grid( 6 );
	@include gridle_state( desktop ) {
		display: none;
	}
	@include gridle_state( tablet ) {
		display: none;
	}
	@include gridle_state( mobile ) {
		display: none;
	}
}
.left {
	left: 0;
	@include gridle_float ( left );
}
.right {
	right: 0;
	@include gridle_float ( left );
}
.small {
	height: 50px;
}
.big {
	height: 100%;
}
.active {
	color: #e8663c;
	span {
		color: #f3af9d;
	}
}
.active:hover {
	color: #e8663c;
}
.not-active {
	color: #b9b9b9;
}
#header {
	position: relative;
	@include gridle_grid( 12 );
	h1 {
		height: 50px;
		padding-left: 19px;
		background-color: #e8603c;
		font-size: 24px;
		font-family: bebas;
		line-height: 50px;
		text-transform: uppercase;
		color: white;
	}
	img {
		padding: 0 !important;
		@include gridle_grid( 12 );
	}
	.flecha {
		position: absolute;
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
	}
	.previous {
		left: 26px;
	}
	.next {
		right: 26px;
	}
	div {
		color: #ffffff;
		padding: 23px 30px 25px 20px;
		background-color: rgba(232, 102, 60, 0.8);
		width: 30%;
		position: absolute;
		bottom: 32px;
		left: 14%;
		@include gridle_state( mobile ) {
			bottom: 0;
			left: 16%;
			width: 50%;
		}
		h2 {
			font-family: bebas;
			font-size: 18px;
			margin-bottom: 19px;
		}
		p {
			font-size: 12px;
		}
	}
}
.flecha {
	width: initial !important;
}
.boxes-3 {
	@include gridle_grid( 12 );
	.box {
		@include gridle_grid( 4 );
		@include gridle_state( mobile ) {
			 @include gridle_grid( 12 );
			margin-top: 40px;
		}
	}
}
#aside {
	@include gridle_grid( 3 );
	@include gridle_float ( right );
	@include gridle_state( mobile ) {
		padding-left: 20px;
		@include gridle_grid( 12 );
		@include gridle_float ( left );
	}
	margin-top: 29px;
	article {
		margin-bottom: 38px;
		p {
			line-height: 16px;
			font-size: 12px;
			font-family: helveticaNeue;
			color: #464646;
		}
	}
	.about-title {
		width: 189px;
	}
	.categories-title {
		width: 88px;
	}
	.gallery-title {
		width: 261px;
	}
	.categories-list {
		li {
			display: block;
			font-size: 12px;
			font-family: helveticaNeue;
			color: #464646;
			margin-bottom: 5px;
		}
	}
	.gallery {
		img {
			@include gridle_grid( 3 );
			padding: 5px;
		}
	}
}
#map {
	width: 100%;
	height: 400px;
	margin-bottom: 36px;
}
.icon {
	position: absolute;
	top: 0;
	z-index: 2;
	left: -85px;
	@include gridle_state( mobile ) {
		display: none;
	}
}
.blog {
	.quote {
		padding: 0 !important;
		margin-bottom: 57px;
		p {
			border: none !important;
		}
		.wrapper {
			h4 {
				font-family: georgia;
				font-size: 72px;
				color: $color_naranja !important;
				float: left;
				height: 72px;
				margin-right: 10px;
				line-height: 50px;
			}
			p {
				margin-top: 0 !important;
			}
			padding: 21px 35px;
			background-color: #F4F4F4;
		}
	}
	.feature-img {
		width: 100%;
	}
	article {
		margin-bottom: 57px;
	}
	.stats {
		margin-top: 25px;
		@include gridle_grid( 2 );
		@include gridle_state( mobile ) {
			 @include gridle_grid( 12 );
		}
		.statsContent {
			margin-bottom: 16px;
			h3 {
				font-family: bebas;
				color: $color_naranja;
			}
			p {
				margin-top: 0 !important;
				color: #bababa;
			}
		}
	}
	h2 {
		font-family: bebas;
		font-size: 18px;
		color: $color_naranja;
	}
	h5 {
		color: #a0a0a0;
	}
	p {
		color: #5E5E5E;
	}
	.description {
		margin-top: 25px;
		margin-bottom: 48px;
		@include gridle_grid( 10 );
		@include gridle_state( mobile ) {
			 @include gridle_grid( 12 );
		}
	}
}
#content {
	p:first-child {
		margin-top: 0;
	}
	p {
		margin-top: 26px;
	}
	@include gridle_grid( 9 );
	@include gridle_state( mobile ) {
		padding-left: 20px;
		@include gridle_grid( 12 );
	}
	font-size: 12px;
	line-height: 21px;
	margin-top: 29px;
	padding-right: 30px;
	.img {
		margin-top: 26px;
		img {
			float: left;
			padding: 3px;
			border: 2px solid $color_gris;
			margin-right: 24px;
			@include gridle_state( mobile ) {
				 @include gridle_grid( 12 );
				margin: 0 auto 26px;
			}
		}
	}
	.drop {
		font-size: 36px;
		float: left;
		height: 36px;
		padding-top: 6px;
		text-transform: uppercase;
		margin-right: 8px;
		color: $color_naranja;
		font-weight: bold;
	}
	.quote {
		padding: 35px 0 35px 52px;
		p {
			color: #727272;
			font-style: italic;
			font-weight: lighter;
			padding-left: 19px;
			border-left: 8px solid $color_naranja;
		}
	}
	.two {
		@include gridle(6);
		margin-top: 0;
		@include gridle_state( mobile ) {
			 @include gridle(12);
			margin-bottom: 26px;
		}
	}
	.three {
		@include gridle(4);
		margin-bottom: 26px;
		@include gridle_state( mobile ) {
			 @include gridle(12);
			margin-top: 0;
			margin-bottom: 26px;
		}
	}
	.info {
		color: $color_gris_texto;
		@include gridle(4);
		@include gridle_state( mobile ) {
			 @include gridle(12);
			margin-bottom: 36px;
		}
		padding-left: 0;
		h3 {
			font-weight: bold;
			color: $color_naranja;
			margin-top: 15px;
		}
		p {
			margin-top: 0;
		}
		.data {
			margin-top: 17px;
		}
	}
	@mixin formInput() {
		border: 1px solid $color_naranja;
		border-radius: $borderRadious;
		font-family: helveticaNeue;
		font-size: 12px;
		color: $color_gris_texto;
		$margin-bottom: 10px;
		display: block;
		padding: 11px 10px;
		margin-bottom: $margin-bottom !important;
		@include gridle_state( mobile ) {
			 @include gridle(12);
		}
	}
	@mixin placeholder {
		font-family: bebas;
		font-size: 12px;
		color: $color_naranja;
		line-height: 48px;
	}
	.form {
		@include gridle(8);
		@include gridle_state( mobile ) {
			 @include gridle(12);
			padding-left: 0;
		}
		input {
			width: 50%;
			@include gridle_state( mobile ) {
				height: 48px;
			}
			@include formInput();
		}
		::-webkit-input-placeholder {
			@include placeholder();
		}
		::-moz-placeholder {
			@include placeholder();
		}
		/* firefox 19+ */
		:-ms-input-placeholder {
			@include placeholder();
		}
		/* ie */
		input:-moz-placeholder {
			@include placeholder();
		}
		textarea {
			width: 100% !important;
			height: 205px;
			resize: none;
			@include formInput();
		}
		button {
			background-color: $color_naranja;
			color: white;
			font-family: bebas;
			border-radius: $borderRadious;
			width: 77px;
			height: 48px;
			border: 0;
			cursor: pointer;
			text-transform: uppercase;
			line-height: 31px;
			text-align: center;
		}
	}
}
#thumbnails {
	margin-top: 17px;
	article {
		img {
			@include gridle(6);
		}
		img:first-child {
			padding-left: 0;
		}
		img:nth-child(2) {
			padding-right: 0;
		}
		header {
			$tamano: 50px;
			@include gridle(12);
			margin-top: 42px;
			margin-bottom: 35px;
			img {
				height: $tamano;
				width: $tamano;
				padding: 0;
				margin-right: 22px;
			}
			h1 {
				font-family: bebas;
				height: $tamano;
				display: flex;
				font-size: 18px;
				color: $color_naranja;
			}
		}
		.text {
			padding-right: 25px;
			font-size: 12px;
			//9px
			line-height: 18px;
			margin-bottom: 22px;
		}
		.more {
			font-family: bebas;
			color: white;
			background-color: $color_naranja;
			font-size: 12px;
			text-align: center;
			width: 56px;
			padding: 11px 0;
		}
	}
}
#works {
	margin-top: 46px;
	.header-line {
		h1 {
			width: 141px;
		}
	}
}
.header-line {
	font-family: bebas;
	display: flex;
	margin-bottom: 26px;
	h1 {
		height: 22px;
		line-height: 22px;
		margin-right: 21px;
		font-size: 18px;
		color: $color_naranja;
	}
}
.line {
	height: 19px;
	width: 100%;
	background-image: url("../images/home/works/line.png");
	display: -webkit-box;
}
.fourlist {
	@include gridle_grid( 12 );
	article {
		@include gridle_grid( 3 );
		@include gridle_state( mobile ) {
			 @include gridle_grid( 10 );
			@include gridle( grid-centered );
			padding: 40px;
		}
		@include gridle_state( tablet ) {
			 @include gridle_grid( 6 );
			padding: 40px;
			text-align: center;
		}
		img {
			margin: 0;
			width: 100%;
		}
		div {
			border: 2px solid $color_gris;
			border-top: none;
			padding: 14px;
			h3 {
				margin-bottom: 8px;
				font-size: 16px;
				color: $color_gris;
			}
			p {
				font-size: 11px;
				color: $color_naranja;
			}
		}
	}
}
.margin_top {
	margin-top: 48px;
}
.margin-top-18 {
	margin-top: 18px;
}
.user {
	color: #F1B39C;
	margin-right: 4px;
}
.time {
	color: #F1B39C;
	margin-top: 11px;
}
footer {
	font-size: 12px;
	color: white;
	@include gridle_grid( 12 );
	h2 {
		font-family: bebas;
		font-size: 20px;
		margin-bottom: 29px;
	}
	#background {
		display: block;
		overflow: auto;
		background-color: #E7663C;
		padding: 40px 35px 35px;
	}
	.social {
		ul li {
			display: inline-block;
		}
	}
}
