@font-face {
    font-family: 'OswaldBold';
    src: url('./fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('./fonts/oswald-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OswaldHeavy';
    src: url('./fonts/oswald-heavy-webfont.woff2') format('woff2'),
         url('./fonts/oswald-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OswaldMedium';
    src: url('./fonts/oswald-medium-webfont.woff2') format('woff2'),
         url('./fonts/oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul > li
{
    display: inline;
}

a
{
    text-decoration: none;

    color: #463f3a;
}


#top-menu ul li:not(:first-child):before
{
    padding: 0 10px 0 0; /* Arriba, Derecha, Abajo, Izquierda*/

    content: '/';
    color: #f55856;
}
#top-menu{
     font-family: 'OswaldHeavy';
     text-transform: uppercase;
     padding: 0 0 30px 80px;
}

#top-menu > nav
{
    float: right;

    margin: 2px 73px 0 0;
}
#header{
    font-family: 'OswaldMedium';
    color: #252525;
     padding: 16px 0 30px 80px;
}
}
#header h4{
     font-family: 'OswaldHeavy'; 
     font-size: 30px; 
}
#header table{  
    
      border-spacing: 20px;
      margin: auto;
}
#header th{
background-color: #f8f8f8;
      border-color: #ebebeb;
      padding: 0 40px 0 40px;
      }
#categories h2{
    font-family: 'OswaldHeavy';
    text-align: center;
    font-size: 30px; 


}
#categories{
    color: #252525;
     font-family: 'OswaldMedium';
      background-color: #f8f8f8;
      border-color: #ebebeb;
       padding: 16px 0 30px 80px;
}
#categories a{
    color: #f55856;
     font-family: 'OswaldBold';
}
#categories img{
    background-size: 200px 200px;
}

#arrivlas h2{
    font-family: 'OswaldHeavy';
    text-align: center;
    font-size: 30px; 

}
#arrivlas{
    color: #252525;
     font-family: 'OswaldMedium';
      background-color: #f8f8f8;
      border-color: #ebebeb;
       padding: 16px 0 30px 80px;
}
#arrivlas a{
    color: #f55856;
     font-family: 'OswaldBold';
}

#featured h2{
    font-family: 'OswaldHeavy';
    text-align: center;
    font-size: 30px; 

}
#featured{
    color: #252525;
     font-family: 'OswaldMedium';
      background-color: #f8f8f8;
      border-color: #ebebeb;
       padding: 16px 0 30px 80px;
}
#featured a{
    color: #f55856;
     font-family: 'OswaldBold';
}
#blog h2{
    font-family: 'OswaldHeavy';
    text-align: center;
    font-size: 30px; 

}
#blog h4{
    font-family: 'OswaldMedium';
    text-align: center;
    font-size: 16px; 

}
#blog{
    color: #252525;
     font-family: 'OswaldMedium';
      background-color: #f8f8f8;
      border-color: #ebebeb;
       padding: 16px 0 30px 80px;
}
#blog a{
    color: #f55856;
     font-family: 'OswaldBold';
}





/* */